.rotate {
	animation: circle 20s infinite linear;
	transform-origin: 50% 50%;
}
.counterrotate {
	animation: ccircle 20s infinite linear;
}

.goldenBootOffset {
	animation: ccircleGoldenBoot 20s infinite linear;
}

.goldenGloveOffset {
	animation: ccircleGoldenGlove 20s infinite linear;
}

.assistOffset {
	animation: ccircleAssist 20s infinite linear;
}

.yellowOffset {
	animation: ccircleYellow 20s infinite linear;
}

.redOffset {
	animation: ccircleRed 20s infinite linear;
}

/* class for spinning the carousel in its z axis */
@keyframes circle {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

/* ccircle, ccircleGoldenBoot ... ect are counter spinning classes
for each carousel item to align with the carousel and appearence on
the carousel lifecycle */
@keyframes ccircle {
	0% {
		transform: rotateZ(360deg) scale(1);
		opacity: 1;
		z-index: 100;
	}
	25% {
		transform: rotateZ(270deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}
	50% {
		transform: rotateZ(180deg) scale(0.5);
		opacity: 0.5;
		z-index: 0;
	}
	75% {
		transform: rotateZ(90deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}
	100% {
		transform: rotateZ(0deg) scale(1);
		opacity: 1;
		z-index: 100;
	}
}

@keyframes ccircleGoldenBoot {
	0% {
		transform: rotateZ(360deg) scale(0.5);
		opacity: 0.5;
		z-index: 0;
	}
	25% {
		transform: rotateZ(270deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}
	50% {
		transform: rotateZ(180deg) scale(1);
		opacity: 1;
		z-index: 100;
	}
	75% {
		transform: rotateZ(90deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}
	100% {
		transform: rotateZ(0deg) scale(0.5);
		opacity: 0.5;
		z-index: 0;
	}
}

@keyframes ccircleGoldenGlove {
	0% {
		transform: rotateZ(360deg) scale(0.87);
		opacity: 0.87;
		z-index: 87;
	}

	12.5% {
		transform: rotateZ(315deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}

	25% {
		transform: rotateZ(270deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}

	37.5% {
		transform: rotateZ(225deg) scale(0.5);
		opacity: 0.5;
		z-index: 0;
	}

	62.5% {
		transform: rotateZ(135deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}

	75% {
		transform: rotateZ(90deg) scale(0.87);
		opacity: 0.87;
		z-index: 87;
	}

	87.5% {
		tranform: rotateZ(45deg) scale(1);
		opacity: 1;
		z-index: 100;
	}

	100% {
		transform: rotateZ(0deg) scale(0.87);
		opacity: 0.87;
		z-index: 87;
	}
}

@keyframes ccircleAssist {
	0% {
		transform: rotateZ(360deg) scale(0.87);
		opacity: 0.87;
		z-index: 87;
	}

	12.5% {
		transform: rotateZ(315deg) scale(1);
		opacity: 1;
		z-index: 100;
	}

	25% {
		transform: rotateZ(270deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}

	37.5% {
		transform: rotateZ(225deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}

	62.5% {
		transform: rotateZ(135deg) scale(0.5);
		opacity: 0.5;
		z-index: 0;
	}

	75% {
		transform: rotateZ(90deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}

	87.5% {
		tranform: rotateZ(45deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}

	100% {
		transform: rotateZ(0deg) scale(0.87);
		opacity: 0.87;
		z-index: 87;
	}
}

@keyframes ccircleYellow {
	0% {
		transform: rotateZ(360deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}

	12.5% {
		transform: rotateZ(315deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}

	25% {
		transform: rotateZ(270deg) scale(0.87);
		opacity: 0.87;
		z-index: 87;
	}

	37.5% {
		transform: rotateZ(225deg) scale(1);
		opacity: 1;
		z-index: 100;
	}

	62.5% {
		transform: rotateZ(135deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}

	75% {
		transform: rotateZ(90deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}

	87.5% {
		tranform: rotateZ(45deg) scale(0.5);
		opacity: 0.5;
		z-index: 0;
	}

	100% {
		transform: rotateZ(0deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}
}

@keyframes ccircleRed {
	0% {
		transform: rotateZ(360deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}

	12.5% {
		transform: rotateZ(315deg) scale(0.5);
		opacity: 0.5;
		z-index: 0;
	}

	25% {
		transform: rotateZ(270deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}

	37.5% {
		transform: rotateZ(225deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}

	62.5% {
		transform: rotateZ(135deg) scale(1);
		opacity: 1;
		z-index: 100;
	}

	75% {
		transform: rotateZ(90deg) scale(0.87);
		opacity: 0.87;
		z-index: 87;
	}

	87.5% {
		tranform: rotateZ(45deg) scale(0.75);
		opacity: 0.75;
		z-index: 75;
	}

	100% {
		transform: rotateZ(0deg) scale(0.625);
		opacity: 0.625;
		z-index: 62.5;
	}
}
